@charset "UTF-8";
/*============HEADER V1 ==================*/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    display: block;
    -webkit-transform: rotate(0);
    -webkit-backface-visibility: hidden;
    transition: all 0.5s ease-in-out;
    left: 0; }

.lib-two-img-over .img-1 {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(0);
  -webkit-backface-visibility: hidden; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 [2] BLOCK FOOTER
 ==============================================*/
.typeheader-6 {
  background-color: #1f83cf;
  /*HEADER SEARCH*/
  /*BLOCK CART*/ }
  .typeheader-6 .header-bonus {
    position: relative; }
    .typeheader-6 .header-bonus .coupon-code {
      color: #fff;
      font-size: 14px;
      padding: 22px 0;
      position: relative;
      background: url("../../images/bg-header.jpg") no-repeat center; }
      .typeheader-6 .header-bonus .coupon-code .container {
        margin-left: 135px; }
      .typeheader-6 .header-bonus .coupon-code h3 {
        float: left;
        margin-right: 55px;
        margin-bottom: 0; }
      .typeheader-6 .header-bonus .coupon-code p {
        line-height: 26px;
        margin: 0; }
        .typeheader-6 .header-bonus .coupon-code p a {
          color: #fff;
          text-decoration: underline;
          margin-left: 10px; }
          .typeheader-6 .header-bonus .coupon-code p a:hover {
            color: #1f83cf; }
    .typeheader-6 .header-bonus .topbar-close {
      width: 12px;
      height: 12px;
      background: url("../../images/icon-close.png") no-repeat center;
      cursor: pointer;
      position: absolute;
      top: 27px;
      z-index: 2;
      cursor: pointer;
      right: 50px;
      left: auto; }
  .typeheader-6 .contact-html {
    padding: 6px 0; }
    .typeheader-6 .contact-html span.email {
      padding: 0 20px; }
      .typeheader-6 .contact-html span.email:before {
        content: "\f0e0";
        font-family: fontawesome;
        font-size: 14px;
        position: absolute;
        top: 0;
        bottom: auto;
        left: 0;
        right: auto; }
      .typeheader-6 .contact-html span.email:after {
        content: "";
        background: #ccc;
        height: 10px;
        width: 1px;
        position: absolute;
        top: 8px;
        bottom: auto;
        left: auto;
        right: 0; }
    .typeheader-6 .contact-html span.add {
      padding: 0 15px;
      margin: 0 17px; }
      .typeheader-6 .contact-html span.add:before {
        content: "\f041";
        font-family: fontawesome;
        font-size: 14px;
        position: absolute;
        top: 0;
        bottom: auto;
        left: 0;
        right: auto; }
    .typeheader-6 .contact-html span.email, .typeheader-6 .contact-html span.add {
      color: #555;
      font-size: 12px;
      font-weight: normal;
      position: relative;
      float: left; }
  .typeheader-6 .header-top {
    background-color: #1f83cf;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .typeheader-6 .header-top .list-contact {
      font-weight: 400;
      padding: 6px 0;
      color: #fff; }
      .typeheader-6 .header-top .list-contact a {
        color: #1f83cf; }
        .typeheader-6 .header-top .list-contact a:hover {
          text-decoration: underline; }
    .typeheader-6 .header-top .header-top-right {
      text-align: right;
      line-height: 38px; }
      .typeheader-6 .header-top .header-top-right ul.top-link {
        list-style: none;
        margin: 0;
        vertical-align: top; }
        .typeheader-6 .header-top .header-top-right ul.top-link .btn-link img {
          margin-top: -3px; }
        .typeheader-6 .header-top .header-top-right ul.top-link .dropdown-menu img {
          margin-top: -3px; }
        .typeheader-6 .header-top .header-top-right ul.top-link > li {
          padding: 0;
          display: inline-block;
          position: relative;
          list-style: outside none none;
          margin-right: 25px;
          float: left; }
          .typeheader-6 .header-top .header-top-right ul.top-link > li:after {
            content: '';
            background: rgba(255, 255, 255, 0.1);
            width: 1px;
            height: 15px;
            position: absolute;
            top: 11px;
            right: -15px; }
          .typeheader-6 .header-top .header-top-right ul.top-link > li:last-child {
            margin: 0; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li:last-child:after {
              display: none; }
          .typeheader-6 .header-top .header-top-right ul.top-link > li.login a {
            padding: 0px; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li.login a.res {
              padding-left: 0; }
          .typeheader-6 .header-top .header-top-right ul.top-link > li > a {
            display: inline-block;
            padding: 0 0px;
            position: relative;
            color: #fff;
            font-size: 12px;
            line-height: 20px; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li > a:hover {
              color: #fff; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li > a:before {
              font-family: 'FontAwesome';
              margin-right: 7px; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li > a span.fa-angle-down {
              position: relative;
              left: 5px; }
          .typeheader-6 .header-top .header-top-right ul.top-link > li.account > a:before {
            content: "\f007"; }
          .typeheader-6 .header-top .header-top-right ul.top-link > li.wishlist a:before {
            content: "\f004"; }
          .typeheader-6 .header-top .header-top-right ul.top-link > li.checkout a:before {
            content: "\f045"; }
          .typeheader-6 .header-top .header-top-right ul.top-link > li .btn-group {
            display: block;
            font-size: 12px; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li .btn-group .btn-link {
              padding: 0;
              border: none;
              color: #fff; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li .btn-group .text {
              display: none; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li .btn-group .dropdown-menu {
              line-height: 20px; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li .btn-group .btn-link span {
              color: #fff; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li .btn-group .btn-link:hover {
              color: #fff; }
          .typeheader-6 .header-top .header-top-right ul.top-link > li ul.dropdown-link {
            position: absolute;
            background: #fff;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
            opacity: 0;
            padding: 0px 10px;
            top: 33px;
            transition: top 0.3s ease 0s, opacity 0.3s ease 0s;
            width: 200px;
            z-index: -1;
            text-align: left;
            left: 0; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li ul.dropdown-link li {
              display: block;
              border-left: 0; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a {
              display: block;
              padding: 5px 0 4px;
              border-bottom: solid 1px #efefef;
              font-size: 11px;
              line-height: 18px;
              color: #555;
              border-right: 0; }
              .typeheader-6 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a:hover {
                color: #1f83cf; }
              .typeheader-6 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a:after {
                display: none; }
            .typeheader-6 .header-top .header-top-right ul.top-link > li ul.dropdown-link li:last-child a {
              border-bottom: 0; }
          .typeheader-6 .header-top .header-top-right ul.top-link > li.account:hover ul.dropdown-link {
            top: 34px;
            z-index: 9999;
            opacity: 1;
            border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-6 .header_custom_link {
    padding: 8px 0;
    float: right; }
    .typeheader-6 .header_custom_link li {
      float: left;
      margin: 0 10px; }
    .typeheader-6 .header_custom_link .wishlist a {
      content: "";
      display: inline-block;
      width: 32px;
      height: 26px;
      background: url("../../images/icon-wishlist2.png") no-repeat center; }
    .typeheader-6 .header_custom_link .compare a {
      content: "";
      display: inline-block;
      width: 22px;
      height: 28px;
      background: url("../../images/icon-compare2.png") no-repeat center; }
  .typeheader-6 .header-center {
    padding-top: 16px;
    background: #1f83cf; }
    .typeheader-6 .header-center .phone-header {
      background: url("../../images/icon/icon-phone.html") no-repeat left top 5px;
      padding: 0px 15px 0px 45px;
      color: #2d2d2d;
      position: absolute;
      top: 2px;
      line-height: 22px;
      right: 0; }
      .typeheader-6 .header-center .phone-header .text {
        font-weight: bold;
        color: #2d2d2d;
        text-transform: capitalize; }
      .typeheader-6 .header-center .phone-header .phone {
        color: #1f83cf; }
      .typeheader-6 .header-center .phone-header a {
        color: #444; }
        .typeheader-6 .header-center .phone-header a:hover {
          color: #1f83cf; }
  .typeheader-6 .header-bottom {
    background: #1f83cf; }
    .typeheader-6 .header-bottom .container .header-bottom-inner .header_search {
      padding: 0;
      margin-top: 7px; }
      @media (min-width: 1200px) {
      .typeheader-6 .header-bottom .container .header-bottom-inner .header_search {
        width: 70%; } }
    .typeheader-6 .header-bottom .header-right {
      padding: 0;
      position: absolute;
      right: 15px; }
    .typeheader-6 .header-bottom .header_custom_link {
      float: right; }
      .typeheader-6 .header-bottom .header_custom_link li {
        display: inline-block;
        float: left;
        margin: 10px 5px 9px;
        height: 36px; }
      .typeheader-6 .header-bottom .header_custom_link li a {
        display: inline-block;
        text-indent: -9999px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid #1f83cf; }
      .typeheader-6 .header-bottom .header_custom_link li.wishlist a {
        background: url("../../images/icon/icon_general.png") no-repeat -12px -1403px #fff;
        position: relative; }
      .typeheader-6 .header-bottom .header_custom_link li.compare a {
        background: url("../../images/icon/icon_general.png") no-repeat -14px -1295px #fff;
        position: relative; }
  .typeheader-6.navbar-compact .header-top {
    display: none; }
    .typeheader-6.navbar-compact .header-center {
      padding: 16px 0 10px; }
    .typeheader-6.navbar-compact .header-bottom {
      padding: 0px;
      position: fixed;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999; }
      .typeheader-6.navbar-compact .header-bottom .container-megamenu.horizontal ul.megamenu > li > a strong img {
        display: none; }
  .typeheader-6 #main-content, .typeheader-6 #content {
    margin-bottom: 30px; }
  .typeheader-6 .header_search {
    margin-top: 4px; }
  .typeheader-6 #sosearchpro.so-search {
    margin: 0;
    width: 100%;
    padding: 0; }
    .typeheader-6 #sosearchpro.so-search .search {
      border: none;
      background: #fff;
      border-radius: 4px; }
    .typeheader-6 #sosearchpro.so-search .select_category {
      border-radius: 4px 0 0 4px !important;
      width: 160px;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      border-color: #ebebeb;
      background: transparent;
      cursor: pointer;
      padding-left: 10px; }
      .typeheader-6 #sosearchpro.so-search .select_category select {
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        padding-right: 26px; }
      .typeheader-6 #sosearchpro.so-search .select_category:after {
        content: "\f0d7";
        background-color: transparent;
        line-height: 38px;
        width: 20px;
        color: #444;
        right: 10px;
        left: auto; }
    .typeheader-6 #sosearchpro.so-search .autosearch-input {
      border-width: 1px 0 1px 1px;
      border-style: solid;
      border-color: #ebebeb;
      height: 42px;
      background: #fff;
      border-left: 1px solid #ebebeb; }
    .typeheader-6 #sosearchpro.so-search .button-search {
      font-size: 16px;
      height: 42px;
      padding: 0 8px;
      min-width: 43px;
      text-align: center;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: #ffd200;
      border-radius: 0 4px 4px 0;
      background: #ffd200;
      color: #222;
      right: -1px; }
      .typeheader-6 #sosearchpro.so-search .button-search i {
        color: #fff;
        font-size: 16px;
        display: none; }
      .typeheader-6 #sosearchpro.so-search .button-search span.hidden {
        display: block !important;
        color: #222; }
      .typeheader-6 #sosearchpro.so-search .button-search:hover {
        background: #cca800;
        border-color: #cca800; }
  .typeheader-6 .header-cart-phone {
    text-align: right;
    margin-top: 4px; }
    .typeheader-6 .header-cart-phone .bt-head {
      text-align: left;
      display: inline-block;
      vertical-align: top;
      float: right; }
    .typeheader-6 .header-cart-phone .call-us div.icon {
      width: 35px;
      height: 40px;
      background: url("../../images/icon/icon-call-us.png") no-repeat center center;
      margin-right: 5px; }
      .typeheader-6 .header-cart-phone .call-us div.text p.text {
        color: #222;
        font-weight: bold; }
      .typeheader-6 .header-cart-phone .call-us div.text p {
        margin-bottom: 0;
        line-height: 20px; }
      .typeheader-6 .header-cart-phone .call-us div.text p.phone {
        color: #555;
        font-size: 12px; }
    .typeheader-6 .header-cart-phone .call-us div.icon, .typeheader-6 .header-cart-phone .call-us div.text {
      display: inline-block;
      vertical-align: top; }
  .typeheader-6 .header-cart {
    position: relative;
    margin-left: 18px; }
    .typeheader-6 .header-cart .handle {
      float: left;
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 0;
      color: #fff;
      position: relative;
      background: #ffd200 url("../../images/icon-cart-ly3.png") no-repeat center center;
      font-size: 0;
      margin-right: 8px; }
    .typeheader-6 .header-cart .cart-info {
      float: left; }
    .typeheader-6 .header-cart h2.title-cart {
      display: none; }
    .typeheader-6 .header-cart h2.title-cart2 {
      display: block !important;
      vertical-align: middle;
      color: #fff;
      font-size: 14px;
      margin: 0;
      font-weight: 600;
      text-transform: capitalize;
      line-height: 18px; }
    .typeheader-6 .header-cart .btn-shopping-cart .fa-check-circle, .typeheader-6 .header-cart .btn-shopping-cart .cart-total-full {
      line-height: 20px;
      padding: 0;
      color: #fff;
      font-size: 12px; }
    .typeheader-6 .header-cart .dropdown-menu {
      margin: 5px 0;
      top: 40px;
      right: -11px;
      left: auto; }
    .typeheader-6 .header-cart .shoppingcart-box:before {
      right: 50px; }
  .typeheader-6 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
    border-radius: 0;
    background: transparent;
    height: 50px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; }
    .typeheader-6 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper .container {
      background: transparent; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li > a strong img {
    height: auto;
    top: -4px;
    right: 0px; }
  @media (min-width: 1200px) {
    .typeheader-6 .header-bottom-left {
      padding-right: 8px; } }
  .typeheader-6 .container-megamenu.vertical #menuHeading {
    display: inline-block;
    padding-right: 16px !important;
    position: relative; }
    .typeheader-6 .container-megamenu.vertical #menuHeading:after {
      font-size: 12px;
      position: absolute;
      top: 17px;
      z-index: 10;
      color: #fff;
      line-height: 13px;
      text-align: center;
      width: 15px;
      border-radius: 100%;
      top: 17px;
      right: 0px;
      content: "";
      width: 17px;
      height: 17px;
      background: url("../../images/icon-bottom.png") no-repeat center; }
    .typeheader-6 .container-megamenu.vertical:after {
      display: none; }
  .typeheader-6 .megamenu-style-dev .container-megamenu.vertical #menuHeading {
    height: 50px; }
    .typeheader-6 .megamenu-style-dev .container-megamenu.vertical:hover .vertical-wrapper {
      display: block;
      position: absolute; }
    .typeheader-6 .megamenu-style-dev .container-megamenu.vertical .vertical-wrapper {
      display: none; }
    .typeheader-6 .megamenu-style-dev .navbar-default {
      background: transparent; }
    .typeheader-6 .megamenu-style-dev .horizontal ul.megamenu > li {
      transition: all 0.3s ease 0s; }
    .typeheader-6 .megamenu-style-dev .horizontal ul.megamenu > li.menu-home a {
      padding-left: 0; }
    @media (min-width: 1200px) {
      .typeheader-6 .megamenu-style-dev .horizontal ul.megamenu > li.deal-h5 {
        display: block !important;
        float: right;
        margin-left: 30px; }
        .typeheader-6 .megamenu-style-dev .horizontal ul.megamenu > li.deal-h5 a {
          padding: 12px 0;
          text-transform: capitalize;
          font-weight: normal; }
          .typeheader-6 .megamenu-style-dev .horizontal ul.megamenu > li.deal-h5 a strong {
            font-weight: normal; }
            .typeheader-6 .megamenu-style-dev .horizontal ul.megamenu > li.deal-h5 a strong img {
              height: auto; }
        .typeheader-6 .megamenu-style-dev .horizontal ul.megamenu > li.deal-h5:hover a {
          color: #fff;
          text-decoration: underline;
          background: transparent; } }
    .typeheader-6 .megamenu-style-dev .horizontal ul.megamenu > li > a {
      color: #fff;
      display: block;
      font-size: 13px;
      font-weight: bold;
      padding: 12px 26px 12px 16px;
      position: relative;
      text-transform: uppercase;
      height: 50px;
      margin-right: 1px; }
    .typeheader-6 .megamenu-style-dev .horizontal ul.megamenu > li > a strong {
      font-weight: bold; }
    .typeheader-6 .megamenu-style-dev .horizontal ul.megamenu > li > a .caret {
      position: absolute;
      right: 12px;
      top: 24px;
      z-index: 999;
      content: ""; }
  .typeheader-6 .megamenu-style-dev .container-megamenu.vertical {
    box-shadow: none;
    background: transparent; }
  .typeheader-6 .megamenu-style-dev .title-mega {
    color: #fff; }
  .typeheader-6 .dropdown-menu > li > button:hover {
    background: #f7f7f7;
    color: #1f83cf; }
