<div class="twitter-widget">
    <a class="twitter-timeline" 
		href="https://twitter.com/smartaddons"
		data-height="300"
		data-chrome="noheader%20nofooter"
		data-link-color="#820bbb"
		data-limit="5">
    </a>

</div>

<script async src="../../../../../../../../../platform.twitter.com/widgets.js" charset="utf-8"></script>

